li{
    list-style-type: none;
    a{
      text-decoration: none;
    }
  }

  body{
    background-color: $dark-gray;
    font-family: $main-font;
  }

  #home{
    min-height: calc(100vh - 60vh);

    .welcome{
      height: 40vh;
    }
  }